<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin" tabindex="1">Admin area</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" tabindex="2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tuotteet" tabindex="3">Tuotteet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/kayttajat" tabindex="4">Käyttäjät</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/lisaatuote" tabindex="5">Lisää tuote</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/varaus" tabindex="6">Myyntipaikka varaus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/kalenteri" tabindex="7">Varatut myyntipaikat</a>
                    </li>
                 </ul>
            </div>
            <a class="navbar-brand" href="/" tabindex="8">Logout</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" tabindex="9">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

</body>
</html>