<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin area</title>

</head>

<body>

{{!-- Navigation bar sivun ylälaidassa. Löytyy partials kansiosta --}}
{{> adminNavigation}} 

<h1>Admin Area</h1>
</body>
</html>