<!DOCTYPE html>
<html lang="fi">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirpputori - Login</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        DIV {
  text-align: center;
        }
        MAP{
  height: 100px;
  width: 50%; 
}

    </style>
</head>
<body>

     <div class="custom-container">
        <h1 class="text-center m-4 text-success">Kirpputori</h1>
        <div class="jumbotron">
            <h3 class="text-center text-primary">Kirjaudu sisään!</h3>
            <br>
            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show">
                <strong>{{success}}</strong>
                <button aria-label="sulje" class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}
            {{#if error}}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>{{error}}</strong>
                <button aria-label="huomio" class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}

            <form action="" id="login" method="POST">
                <div class="form-group">
                    <label for="email" aria-label="sähköposti" >Sähköposti <span class="text-danger" >*</span></label>
                    <input type="email" class="form-control" name="username" id="email" placeholder="Syötä rekisteröity sähköposti">
                </div>
                <div class="form-group">
                    <label for="password" aria-label="salasana">Salasana <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Syötä salasanasi">
                </div>
                <div class="form-group">
                    <input type="submit" aria-label="kirjaudu" value="Kirjaudu" class="btn btn-info btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            Oletko uusi? Rekisteröidy <a href="/register">tästä!</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    </br>
    <br>
    </br>
   <div id="DIV">
    <h2 style="align:center">Tai tule käymään paikanpäällä!</h2>
    </div>
      <div class="card">
        <!-- Add your weather data here -->
        <p>
          <i>Lämpötila tällä hetkellä:</i>
         {{weather.main.temp}} °C
        </p>
        <p>
          <i>Tuntuu kuin:</i>
          {{weather.main.feels_like}} °C
         
        </p>

        <p>
          <i class="fas fa-map-marker-alt"></i>
          
        </p>
      </div>
      
    </div>
<body id="MAP">
    <script>
      const CONFIGURATION = {
        "locations": [
          {"title":"Katinala","address1":"13800 Katinala","address2":"Suomi","coords":{"lat":61.03583761603288,"lng":24.40602206256563},"placeId":"ChIJQ46JxGFejkYRsDKPuVO1AAo"}
        ],
        "mapOptions": {"center":{"lat":38.0,"lng":-100.0},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":false,"zoom":4,"zoomControl":true,"maxZoom":17,"mapId":""},
        "mapsApiKey": "AIzaSyDWzN3EppfrOH3ugGf7T_qUyPKqQIqlWeI",
        "capabilities": {"input":false,"autocomplete":false,"directions":false,"distanceMatrix":false,"details":false,"actions":false}
      };
    </script>
    <script type="module">
      document.addEventListener('DOMContentLoaded', async () => {
        await customElements.whenDefined('gmpx-store-locator');
        const locator = document.querySelector('gmpx-store-locator');
        locator.configureFromQuickBuilder(CONFIGURATION);
      });
    </script>
  </head>
  
    <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6"></script>
    <gmpx-api-loader key="AIzaSyDWzN3EppfrOH3ugGf7T_qUyPKqQIqlWeI" solution-channel="GMP_QB_locatorplus_v10_c"></gmpx-api-loader>
    <gmpx-store-locator map-id="DEMO_MAP_ID"></gmpx-store-locator>
  </body>

</html>
