<h1>Add a product</h1>
<form method="post" action="/tuotteet">
    Tuotteen nimi: <input type="text" name="nimi"><br>
    Tuotteen hinta: <input type="text" name="hinta"><br>
    Lisäyspäivämäärä: <input type="date" name="paivays"><br>
    Tuotteen kuvaus: <input type="text" name="kuvaus">
    {{!-- Kuva: <input type="image" name="kuva"><br> --}}
    <button>Lisää tuote</button>
</form>