<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Varaus</title>
</head>
<body>
    {{> adminNavigation}}
    <div class ="container">
        {{!-- //<h1>Pöytävaraus</h1> --}}
        <br>
    <div class="mt-4">
    <h1 class="text-center">Pöytävaraus</h1>
    </div>
    <br>
  
        {{#if alert}}
            {{#each alert}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{this.msg}}</strong> 
                    <button type="button" class="close btn btn-outline-secondary" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/each}}
        {{else}}
            {{#if alert2}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{alert2}}</strong> 
                    <button type="button" class="close btn btn-outline-secondary" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}
        {{/if}}

        <form method="post" action="/varaus" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="nimi" class="form-label">Nimi</label>
                <input type="text" class="form-control" name="nimi" id="nimi">
            </div>
            <div class="form-group">
                <label for="alkuPaivays" class="form-label">Alku päivämäärä</label>
                <input type="date" class="form-control" name="alkuPaivays" id="alkuPaivays">
            </div>
            <div class="form-group">
                <label for="loppuPaivays" class="form-label">loppu päivämäärä</label>
                <input type="date" class="form-control" name="loppuPaivays" id="loppuPaivays">
            </div>
            <input type="hidden" name="poytaID" id="poytaID">
            <button type="submit" class="btn btn-outline-secondary">Lisää varaus</button>
        </form>
        <br>
        <button onclick="window.location.href='/kalenteri'" class="btn btn-outline-secondary">Siirry varauksiin</button>
    </div>

    <script>
    function validateForm() {
        var nimi = document.getElementById('nimi').value;
        var alkuPaivays = document.getElementById('alkuPaivays').value;
        var loppuPaivays = document.getElementById('loppuPaivays').value;

        if (nimi.trim() === '') {
            alert("Nimi täytyy täyttää");
            return false;
        }

        if (alkuPaivays.trim() === '') {
            alert("Alku päivämäärä täytyy täyttää");
            return false;
        }

        if (loppuPaivays.trim() === '') {
            alert("Loppu päivämäärä täytyy täyttää");
            return false;
        }

        var today = new Date();
        var alkuDate = new Date(alkuPaivays);
        var loppuDate = new Date(loppuPaivays);

        if (alkuDate < today) {
            alert("Alku päivämäärä ei voi olla menneisyydessä");
            return false;
        }

        if (loppuDate <= alkuDate) {
            alert("Loppu päivämäärä täytyy olla alku päivämäärän jälkeen");
            return false;
        }

        // Generoi PöytäID
        var poytaID = generatePoytaID();
        document.getElementById('poytaID').value = poytaID;

        return true;
    }

    function generatePoytaID() {
    // Generoi random numero PöytäID (väliltä 1 and 100)
    return Math.floor(Math.random() * 100) + 1;
    }
    
    </script>


</body>
</html>

